################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
.vs
packages
Algorithms-CSharp-Course.sln
/Algorithms_DataStructure_Lib.csproj.user
/ShipmentCharge.cs
